{% extends 'base.html' %}
{% block content %}

<div class="container">
	<h1>Pangkat</h1>
	<button class="btn btn-primary" data-toggle="modal" data-target="#tambahpangkatmodal">Tambah</button>
	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>nama pangkat</th>
				<th>option</th>
			</tr>
		</thead>
		<tbody>
			{% for data in hasil %}
			<tr>
				<td>{{data['id_pangkat']}}</td>
				<td>{{data['nama_pangkat']}}</td>
				<td>hapus/ubah</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
{% block modal %}
<!-- Modal -->
	<div class="modal fade" id="tambahpangkatmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action="" method="POST">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Insert Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="nama_pangkat">Nama Pangkat</label>
							<input type="text" id="nama_pangkat" placeholder="Nama Pangkat" required name="nama_pangkat" class="form-control">
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-block">Submit!</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}